@charset "utf-8";
/* CSS Document */


blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin:0;
	padding:0
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	
}
address, cite, dfn, em, var {
	font-style:normal
}

small {
	font-size:12px
}
ol, ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}

fieldset, img {
	border:0;
	vertical-align:top
}
button, input, select, textarea {
	font-size:100%
}
table {
	border-collapse:collapse;/* 重合的边框 合并*/
	border-spacing:0
}

.clear {
	clear:both;
	height:0;
	font-size:0;
	overflow:hidden
}
p{-webkit-margin-before:0em;
-webkit-margin-after: 0em;}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	clear:both;
	zoom:1
}

/*-------------------------------------------清除默认*/
.container{ width:1000px; margin:0 auto}
.header{ height:550px; background:url(../images/body_Bg.jpg) no-repeat center 0;}
.banner{ height:386px;}
.article{ height:600px;}
.article .container .aside{ width:250px; height:500px; float:left;}
.article .container .content{ width:750px; height:500px; float:left;}
.footer{ height:25px; background:url(../images/foot_Bg.gif) repeat-x;}

.header .container .pic1{ margin-bottom:20px}
.header .section ul{ background:url(../images/nav_Bg.gif) repeat-x ; height:34px}

.header .section .main-menu li{ float:left; height:34px; line-height:34px; width:142px; text-align:center; background:url(../images/li_Bg.gif) no-repeat; position:relative}
.header .section .main-menu li a{ display:block; color:#fff; font-size:14px}
.header .section .main-menu li a:hover{ text-decoration:none;}

.header .section .sub-menu{ position:absolute; top:34px; left:0px; display:none}
.header .section .main-menu li:hover .sub-menu{ display:block}
.header .section .sub-menu a:hover{ background:#06C}

.header .section .sub-menu li{ background:#03F; border-bottom:1px solid #00F; position:relative;}
.header .section .ss-menu{ display:none; position:absolute; top:0; left:140px;}
.header .section .ss-menu li{ background:#03F}
.header .section .sub-menu li:hover .ss-menu{ display:block;}














.content{ padding-left:20px;}
.content .pp{ height:40px; width:700px; line-height:40px; background:#025fc9; padding-left:10px;}
.content .pp em img{ margin-top:10px; margin-right:5px}
.content .pp span{ color:#FFF;}
.content .pp a{ color:#963}
.content .pp a:hover{ color:#FFF; text-decoration:none}
.content form{ padding-top:40px; padding-left:50px}
.content form p{ margin-top:10px}
.content form .name{ display:inline-block; height:30px; line-height:30px; width:100px; text-align:right; padding-left:20px; color:#0066cc}
.content form .ut{ margin-left:20px; height:25px; line-height:25px; width:200px; background:#9ac5f7; border:none}
.content form .ta{ position:relative;}
.content form .ts{ position:absolute; left:0; top:20px}
.content form .tt{ margin-left:140px; margin-top:10px; background:#9ac5f7; border:none}
.content form .sub{ height:30px; width:100px; line-height:100px; margin-left:140px; color:#09C;}
.content form .sub:hover{ color:#ffbc6c}

.footer .container p{ text-align:center; padding-top:10px; color:#666;}








